.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.active{
    border-left-color: #837F7F;

}

.menu {
    display:flex;
    width: 303px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.menu a {
    margin-left:10px;
    margin-right: 10px;
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color: white;
}


.socialMediaButtons{
    display:flex;
    width: 400px;
    height: 46px;
    align-items: center;
    justify-content: center;
   /* margin-top:50px; */
}

.socialMedia ul {
    list-style-type: none;
    /* overflow: hidden; */
    justify-content: right;
    font-size: 18px;
    line-height: 28px;
    margin-right: 36px;
}

.socialMedia li {
    display: inline;
    /* transform: rotate(90deg);
    float: left;
    margin-bottom: 20px; */
}

.socialMedia li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}