.container {
    display: grid;
    grid-template-columns: 2% auto 2%;
    grid-template-rows: 55% 170px auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    position: relative;
}

.welcomeContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    justify-self: center;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.arrowDiv {
    display: block;
    text-align: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.arrow{
    width: 150px;
    margin: 15px;
}

.name {
    color:white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 15px;
    position:relative;
    animation:text 3s 1;
    background:black;
}

.intro {
    font-size:20px;
    color:#76B041;
    
}


@keyframes text {
    0%{
        color:black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 415px) {
    .name {
        color:white;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 8px;
        margin-bottom: 10px;
        position:relative;
        animation:text 3s 1;
        background:black;
    }
    
    .intro {
        font-size:16px;
        color:#76B041;
        
    }
    .container {
        grid-template-rows: 20% 170px auto;
    }
}