.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:50px;
    color:white;
}

.footer a {
    text-decoration: none;
    color: black;
}

.socialMediaButtons {
    display:flex;
    align-items: center;
    justify-content: center;
}